html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend,  table, caption{
margin : 0;
padding : 0;
border : 0;
outline : 0;
vertical-align : baseline;
font-size:100%;
font-style:normal;
font-weight:normal;
vertical-align:baseline;
}
 
:focus {
outline : 0;
}
 

 
table {
border-collapse : separate;
border-spacing : 0;
}
 
caption, th, td {
text-align : left;
font-weight : normal;
}
 
blockquote:before, blockquote:after, q:before, q:after {
content : "";
}
 
blockquote, q {
quotes : "" "";
}
/*******************************************************/
body { margin: 10px 0px; padding: 0px; background:#fff url(/images/body.jpg) repeat-x; color: #6d6c67; font-family: Arial, Helvetica, Sans-Serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; line-height: normal; }

.notice{
	width:900px;
	margin:0 auto;
	color:#3b612d;
	font-size:15px;
	line-height:30px;
	padding-left:10px;
}

.Login{
	width:25%;
	background-color:#9a1e73;
	margin:0 auto;
	padding:50px 20px;
}

.Login p {
	color: #fff;
	text-align: left;
	font-weight:normal;
	font-size:14px;
    	padding-left:15px;
	padding-right:15px;
	margin-top:10px;
}

.Login  a{
	color:#fff;
}

.Login p input{
	border:2px solid #bebebe;
	padding:3px;
	width:90%;
}

.Login p input:focus{
	border:2px solid #e8c382;

}

.login_btn{
        margin:20px 0px 10px 18px; 
}

.login_btn input{
    color:#000;
    padding:1px 3px; 
}


.spacing{
	padding:35px 0px;
}

 h2 {
       font-size: 2.4em;
}

.main{
	width:920px;
	margin:0 auto;
	min-height:600px;
	height:auto !important;
        height:600px;
        padding:0px 5px 0px 10px;
	
}

.header_left{
	float:left;
	width:32%;height:48px;
	margin:0px 0px 0px 10px;
	padding:0px 0px 0px 55px;
	background: url(/images/heading.gif) no-repeat;
}

.header_right{
	float:right;
	width:45%;
	margin:0px 10px 37px 0px;
	height:48px;
}


.header_right ul{
	margin:15px 0px 0px 0px;
	padding:0px;	
	float:right;color:#fff;
}

.header_right ul li{
	padding:0px 10px 0px 10px;
	margin:0px;
	display:inline;
	list-style:none;
	
}

.header_right ul li a{
	color:#fff;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
}

.header_right ul.logout{
	margin-top:15px;
}

ul.btn li{
	margin:0px;
	padding:0px;
}

.header_left h1{
	color:#ed2626;
	font-size:32px;
	margin-top:5px;
}

.header_left h1 span{
	color:#f8db37;

}

.image_bg{
	margin:0px 0px 15px 0px ;
	height:264px;
	clear:both;
	padding:5px 0px 0px 0px
}

.image_bg p span,a{
	color:#977c0f;
	text-decoration:underline;
}

.image_bg p span,a:hover{
	text-decoration:none;
}


.image_bg p{
	padding:9px 10px;
        margin-top:5px;
	
	
	
}

.image_bg p.first{
	line-height:40px;
	font-size:28px;
	color:#9b1121;
       
}

.image_bg p.second{
	line-height:26px;
	font-size:15px;
	
	color:#977c0f;
       
}

.image_right{
	width:71%;
	border:1px solid #7ba71d;
	float:right;
	background-color:#fff;
	padding-left:6px;
}

.image_right h2{
        margin-top:30px;
	float:left;	
}

.image_left{
	width:26%;
	float:left;		
}

.image_left img{
	border:1px solid #7ba71d;
}

p.text{
	font-size:12px;
	margin-left:8px;
}


.sidebar{
        width:235px;
	min-height:600px;
	height:auto !important;
        height:600px;
        float:left;
	border:1px solid #ddd;
	background:#f2f2f2 url(/imageXs/bg_side.gif) repeat-y right;
}

.sidebar h2{
	color:#1d93d3; 
	border-bottom:1px solid #cbcbcb; 
	font-size:25px;
	margin:3px 0px 0px 0px;
	padding:2px 0px 2px 10px;
}

ul#tree{
	margin:15px 0px 0px 30px;
	padding:0px;
}

ul#tree li {
	margin:10px 0px;
	font-size:16px;
	color:#b7318c;
	text-align:left;
	list-style:none;
	
}

ul#tree li a{
	color:#170f15;
	padding:0px 0px 0px 16px;
	text-decoration:none;background:url(/images/arrowright.png) no-repeat left top;
}

ul#tree li ul li {	
	font-size:13px;
}

.container{
	width:72%;
	min-height:600px;
	height:auto !important;
        height:600px;
	float:right;
	background-color: #fff;
}

.facebook_container{
	width:100%;
	min-height:600px;
	height:auto !important;
        height:600px;
	float:left;
	background-color: #f0f5ff;
}

.wishlist_container{
	min-height:600px;
	height:auto !important;
        height:600px;
	float:left;
}

.container h2{
	color:#84a934; 
	border-bottom:1px solid #a3cd48;
	font-size:26px;
	margin:2px 0px 0px 6px;
	padding:2px 0px;
}

.container p{
	margin:15px 5px 15px 8px;
        color:#333435;
	line-height:21px;
}

.container h3{
	color:#d71920;
	font-size:22px;
	padding:4px 5px;
	margin:25px 0px 0px 5px;
}

.container h4{
	color:#d71920;
	font-size:20px;
	padding:4px 5px;
	margin:15px 0px 5px 5px;
}

.container h2 span{
	margin:0px 0px 0px 250px;
	font-size:13px;
	padding:0px;
}

.container h2 span a{
	font-size:13px;
	color:#fff;
	padding:0px;
	text-decoration:none;
}

.container h2 span a:hover{
	text-decoration:underline;
}


.outer_box {
        height:230px;
	float:left; 
	margin: 10px 0px 10px 10px; 
	padding:2px 2px 2px 2px;
	width: 300px; 
	background-color: #ccc;
}

.outer-box {
        height:230px;
	float:left; 
	margin: 15px 0px 10px 25px; 
	padding:1px;
	width: 300px; 
	background-color: #ccc;
}

hr{
	border-top:1px solid #c8dbff;
	border-bottom:1px solid #fff;
	margin:2px 10px;
}

.box {
	background:url('http://69.164.192.249:3012/images/box.png') repeat-x;
	clear:both;
        height:230px;
}

.heading{
	text-align:left;
	height:20px;
	color:#2c4a83;
	font-weight:bold;
	font-size:15px;
	padding:5px 0px 5px 15px;
	background:url('http://69.164.192.249:3012/images/box_header.jpg') repeat-x;
	margin-bottom:5px;
	overflow:hidden
}

.box_lt {
	width:135px;
	float:left;
	margin: 5px 0px 5px 2px;
        height:130px;
	overflow:hidden;
}

.box_rt {
	width:140px;
	float:right;
	overflow:hidden;
        height:135px;
	margin: 5px 1px 5px 0px;
}

.box_rt p{
     	height:75px;
      	margin:0px;
     	overflow:hidden;
}

.box_rt a{
        margin: 0px 0px 0px 0px;
}


.points{
	margin:0px;
	padding:18px 0px 0px 10px;
	font-weight:normal;
	color:#414040;
	clear:both;
}

h2.form_heading{
	background-color:#bc3b93; 
	color:#fff;
	font-size:20px;
	width:62%;
	padding:5px 4px;
	margin:2px 0px 0px 15px;	
}


.list{
	height:200px;
	float:left; 
	margin: 15px 0px 10px 0px; 
	padding:1px 5px;
	width: 135px; 
	bXorder-boXttom:1px solid #ccc;
	overflow:hidden;
}

.name{
    	margin:0px 0px 0px 5px;
	color:#000;
	font-size:13px;
	font-weight:bold;
}  

.list_box{
        height:130px;
	margin:2px 5px;
	width: 132px;
	overflow:hidden; 
	border:1px solid #ccc;
	background-color:#fff;
}



.description{
        height:95px;
	margin:2px 5px;
	width: 135px; 
	overflow:hidden; 
}

 
	


.description h4{
        margin:0px 0px 0px 5px;
	color:#000;
	font-size:13px;
}

.description p{
   	margin:0px 0px 0px 12px;
	color:#000;
	font-size:12px;
}

.description a{
       margin:0px 0px 0px 12px;
}


.show-box{
       	float:left; 
	margin: 15px 0px 10px 25px; 
	padding:1px;
	width:700px; 
}

.show_lt {
	width:200px;
	float:left;
	margin: 5px 0px 5px 2px;
        height:200px;
	overflow:hidden;
	border:1px solid #ccc;
}

.show_rt {
	width:485px;
	float:right;
	overflow:hidden;
        height:200px;
	margin: 5px 1px 5px 0px;
	text-align:left;
}

.show_rt p{
	font-size:13px;
	padding:0px;
	color:#000;
}

.show_rt p.points{
	font-size:14px;
	padding:0px;
	color:#1573a4;
}
.show_rt a{
	font-size:13px;
	padding:0px;
	margin:0px 0px 0px 5px;
}

.show_lt h2{
	color:#2c4a83;
	font-weight:bold;
	font-size:14px;
	padding:0px;
	margin:5px 0px;
	border:none;
	text-align:center;
}


.formstyle{
	background:#f7f7f9 url(/images/form_bg.jpg) repeat-x;
	border-collapse: collapse;
    	margin:0px 10px 10px 0px;
    	border: 1px solid #e3e4e5;
	margin:10px 15px;
}

.formstyle th {
	color: #000;
	text-align: left;
	font-weight:normal;
	font-size:14px;
    	padding-left:15px;
	padding-right:15px;
}

table.formstyle tr td input{
	border:1px solid #aeaeae;
	padding:3px;
}

table.formstyle tr td textarea{
	border:1px solid #aeaeae;
	padding:3px;
}

table.formstyle tr td textarea:focus{
	border:1px solid #e8c382;

}

table.formstyle tr td input:focus{
	border:1px solid #e8c382;

}


#btn input{
    	color:#000;
    	padding:5px 30px; 
    	margin:5px 0px 10px 0px; 

}

#dealer-list{
	margin:10px 20px;
}

#dealer-list h3{
	color:#434d8a;
	font-size:16px;
	border-bottom:1px solid #a6a4a4;
	width:65%;
}

#dealer-list ul{
	margin:10px 0px;
	padding:0px;
}

#dealer-list ul li{
	margin:10px 12px;
}

.clear{
	clear:both;
}

.bottom_link a{
	float:right;
	margin:10px 20px 10px 0px;
	color:#bc3b93;
	text-decoration:underline;
	font-size:13px;
}

.bottom_link a:hover{
	color:#000;
	text-decoration:none;
}


.top_links{
	padding:12px 10px 12px 25px;
	background-color:#c4d6fb;
}


.top_links a{
	color:#9f1717;
	font-weight:bold;
	font-size:13px;
}

#banners {margin: 20px;}
.banner {margin-bottom: 20px; }
.banner img{
	border: 1px solid #ddd; 
	height: 150px; width:180px;
 }

h2.banner{
	color:#b32b31;
	font-size:22px;
	margin:20px 0px 0px 25px;	
}

#tree li{
	list-style: none;
	}

.footer{
	background: #fff url(/images/border.gif) repeat-x top;
	width:100%;
	height:55px;
}
