html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend,  table, caption{
margin : 0;
padding : 0;
border : 0;
outline : 0;
vertical-align : baseline;
font-size:100%;
font-style:normal;
font-weight:normal;
vertical-align:baseline;
}
 
:focus {
outline : 0;
}
 

 
table {
border-collapse : separate;
border-spacing : 0;
}
 
caption, th, td {
text-align : left;
font-weight : normal;
}
 
blockquote:before, blockquote:after, q:before, q:after {
content : "";
}
 
blockquote, q {
quotes : "" "";
}
/*******************************************************/
body { margin: 10px; padding: 0px; background-color:#e8e6e7; color: #6d6c67; font-family: Arial, Helvetica, Sans-Serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; line-height: normal; }

.notice{
	width:900px;
	margin:0 auto;
	color:#3b612d;
	font-size:15px;
	line-height:30px;
	padding-left:10px;
}

 h2 {

       font-size: 2.4em;

}
 


.main{
	width:900px;
	margin:0 auto;
	min-height:600px;
	height:auto !important;
        height:600px;
        padding:0px 5px;
	background:#fff url(/images/main.jpg) repeat-x;
}

.header_left{
	float:left;
	width:24%;height:100px;
	bacXkground:#fff url(/images/hearder-lXeft.jpg) no-repeat;
	padding:10px 5px 5px 12px;margin-top:3px;
}

.header_right{
	float:right;
	width:70%;
	margin:0px 10px 37px 0px;
	
	height:88px;
}




.header_right ul{
	margin:15px 0px 0px 0px;
	padding:0px;	
	float:right;
}

.header_right ul li{
	padding:0px 10px 0px 10px;
	margin:0px;
	display:inline;
	list-style:none;
}

.header_right ul li a{
	color:#2d6396;
	font-size:14px;
	font-weight:bold;
}

.header_right ul.logout{
	margin-top:15px;
}

.header_left h1{
	color:#d71920;
	font-size:30px;
	margin-top:10px;
}

.header_left h1 span{
	color:#1560a4;

}

.image_bg{
	margin:10px 10px;
	background-color:#fff;
	width:850px;
	height:264px;
	clear:both;
	padding:5px 0px 0px 0px
}

.image_bg p span,a{
	color:#d71920;
}


.image_bg p{
	padding:10px 5px;
	font-size:18px;
        margin-top:5px;
	line-height:30px;
	color:#1560a4;
	text-align:justify;
}

.image_right{
	width:70%;
	float:right;	
}

.image_right h2{
        margin-top:30px;
	float:left;	
}

.image_left{
	width:30%;
	float:left;	
}

p.text{
	font-size:12px;
	margin-left:8px;
}


.sidebar{
        width:230px;
	min-height:600px;
	height:auto !important;
        height:600px;
        float:left;
	background:url(/images/sidebar.jpg) no-repeat;
}

.sidebar h2{
	color:#fff; 
	font-size:25px;
	margin:5px 0px 0px 10px;
}

ul#tree{
	margin:15px 0px 0px 30px;
	padding:0px;
}

ul#tree li {
	margin:5px 0px;
	padding:0px;
	font-size:16px;
	color:#105ea7;
	text-align:left;
	list-style-type:dotted;
}

ul#tree li a{
	color:#105ea7;
	text-decoration:none;
}

ul#tree li ul li {	
	font-size:13px;
}

.container{
	width:72%;
	min-height:600px;
	height:auto !important;
        height:600px;
	float:right;
	background: #fff url(/images/con_header.jpg) repeat-x;
}

.facebook_container{
	width:100%;
	min-height:600px;
	height:auto !important;
        height:600px;
	float:left;
	background: #f0f5ff url(/images/con_header.jpg) repeat-x;
}


.container h2{
	color:#fff; 
	font-size:25px;
	margin:5px 0px 0px 10px;
}

.container p{
	margin:15px 5px 15px 12px;
        color:#333435;
	line-height:21px;
}

.container h3{
	color:#d71920;
	font-size:22px;
	padding:4px 5px;
	margin:25px 0px 0px 5px;
}
.outer_box {
        height:230px;
	float:left; 
	margin: 10px 0px 10px 10px; 
	padding:2px 2px 2px 2px;
	width: 300px; 
	background-color: #ccc;
}

.outer-box {
        height:230px;
	float:left; 
	margin: 10px 10px 10px 10px; 
	padding:1px;
	width: 300px; 
	background-color: #ccc;
}

hr{
	border-top:1px solid #c8dbff;
	border-bottom:1px solid #fff;
}

.box {
	background:url('http://69.164.192.249:3012/images/box.png') repeat-x;
	clear:both;
        height:230px;
}

.heading{
	text-align:left;
	height:20px;
	color:#2c4a83;
	font-weight:bold;
	font-size:14px;
	padding:5px 0px 5px 15px;
	background:url('http://69.164.192.249:3012/images/box_header.jpg') repeat-x;
	margin-bottom:5px;
	overflow:hidden
}

.box_lt {
	width:135px;
	float:left;
	margin: 5px 0px 15px 8px;
        height:135px;
	overflow:hidden;
}

.box_rt {
	width:155px;
	float:right;
	overflow:hidden;
        height:135px;
	margin: 5px 0px 5px 0px;
}

.box_rt p{
        height:75px;
	overflow:hidden;
}

.box_rt a{
        margin: 0px 0px 0px 12px;
}


.points{
	margin:30px 0px 0px 0px;
	padding:10px 0px 0px 10px;
	font-weight:normal;
	color:#414040;
	clear:both;
}


table.category-index tr td p{
	line-height:18px;
	margin-top:8px;
}

table.category-index tr td p a:hover{
	text-decoration:underline;
}


.clear{
	clear:both;
}

.item {
	padding: 15px 0px 20px 0px; 
	background: #fff url(/images/item-bg.jpg) repeat-x; 
	margin-right: 20px; 
	border: 2px double #dbdcde; 
	width: 220px; 
	text-align: center;
}

.item_title{ 
	font-weight: bold; 
	text-align: center; 
	color: #3a5798; 
	font-size: 15px; 
	margin-bottom: 15px;
}

.item_desc{
	width: 200px; 
	font-size: 13px; 
	text-align: left; 
	padding:10px 5px 10px 15px;
}

.item_url{
	text-align: left;  
	padding:0px 10px 10px 15px; 
}
.item_url a{
	color: #3a5798; 
	font-size: 12px; 
}

.item_links{ 
	text-align: left;  
	padding:0px 10px 10px 15px; 
}
.item_links a {
	color: #a70000; 
	font-size: 13px;


}






