html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend,  table, caption{
margin : 0;
padding : 0;
border : 0;
outline : 0;
vertical-align : baseline;
font-size:100%;
font-style:normal;
font-weight:normal;
vertical-align:baseline;
}
 
:focus {
outline : 0;
}
 

 
table {
border-collapse : separate;
border-spacing : 0;
}
 
caption, th, td {
text-align : left;
font-weight : normal;
}
 
blockquote:before, blockquote:after, q:before, q:after {
content : "";
}
 
blockquote, q {
quotes : "" "";
}
/*******************************************************/
body { margin: 10px; padding: 0px; background-color:#e8e6e7; color: #6d6c67; font-family: Helvetica, Arial, Sans-Serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; line-height: normal; }

.notice{
	width:900px;
	margin:0 auto;
	color:#3b612d;
	font-size:15px;
	line-height:30px;
	padding-left:10px;
}


.main{
	width:900px;
	margin:0 auto;
	min-height:600px;
	height:auto !important;
        height:600px;
        padding:0px 5px;
	background:#fff url(/images/main.jpg) repeat-x;
}

.header_left{
	float:left;
	width:26%;
	padding:12px 5px 5px 12px;
}

.header_right{
	float:right;
	width:70%;
	margin:15px 10px 40px 0px;
	background:url(/images/menu.jpg) repeat-x;
	height:55px;
}

.header_right ul{
	margin:0px 0px 0px 0px;
	padding:0px;	
	float:right;
}

.header_right ul li{
	padding:0px 10px 0px 10px;
	margin:0px;
	display:inline;
	list-style:none;
}

.header_right ul li a{
	color:#fff;
	font-size:14px;
	font-weight:bold;
}

.header_right ul.logout{
	margin-top:15px;
}

.header_left h1{
	color:#d71920;
	font-size:30px;

}

.header_left h1 span{
	color:#1560a4;


}

.image_bg{
	margin:10px 10px;
	background-color:#fff;
	width:850px;
	height:264px;
	clear:both;
	padding:5px 0px 0px 0px
}

.image_bg p span,a{
	color:#d71920;
}



.image_bg p{
	padding:10px 5px;
	font-size:18px;
        margin-top:5px;
	line-height:30px;
	color:#1560a4;
	text-align:justify;
}

.image_right{
	width:70%;
	float:right;	
}

.image_right h2{
        margin-top:30px;
	float:left;	
}

.image_left{
	width:30%;
	float:left;	
}

p.text{
	font-size:12px;
	margin-left:8px;
}


.sidebar{
        width:230px;
	min-height:600px;
	height:auto !important;
        height:600px;
        float:left;
	background:url(/images/sidebar.jpg) no-repeat;
}

.sidebar h2{
	color:#fff; 
	font-size:25px;
	margin:5px 0px 0px 10px;
}

ul#tree{
	margin:15px 0px 0px 30px;
	padding:0px;
}

ul#tree li {
	margin:5px 0px;
	padding:0px;
	font-size:16px;
	color:#105ea7;
	text-align:left;
	list-style-type:dotted;
}

ul#tree li a{
	color:#105ea7;
}

ul#tree li ul li {	
	font-size:13px;
}

.container{
	width:72%;
	min-height:600px;
	height:auto !important;
        height:600px;
	float:right;
	background: #fff url(/images/con_header.jpg) repeat-x;
}

.container h2{
	color:#fff; 
	font-size:25px;
	margin:5px 0px 0px 10px;
}

.container p{
	margin:15px 5px 15px 12px;
        color:#333435;
	line-height:21px;
}

.container h3{
	color:#d71920;
	font-size:22px;
	padding:4px 5px;
	margin:25px 0px 0px 5px;
}
.outer_box{
  	width:300px;
  	float:left;
	min-height:200px;
	margin:10px 0px 10px 10px;
	background-color:#dbdbdb;
}

.box{
	margin:3px 1px 2px 1px;
	background-color:#fff;
	height:200px;
	padding:5px;
}

table.category-index tr td h4.heading{
	text-align:center;
	color:#db3131;
	font-size:15px;
}

table.category-index tr td p{
	line-height:18px;
}

table.category-index tr td p a:hover{
	text-decoration:underline;
}

.points{
	margin:10px 0px 0px 0px;
	background-color:#ededed;
	padding:3px 10px;
}


.clear{
	clear:both;
}



