
		
<% if current_user %>
  <div class="wishlist1">
    <%= render :partial => "wish_lists/list" %>
  </div>
<%end%>

	
<div id = 'category-list'>
   <%= render :partial => 'list' %>
</div>

<div class="clear"></div>
<div class="bottom_link">
 	<%= link_to "view all", categories_path%>
</div>
</div>

<div class="clear"></div>


