<div class="container">
	<h2>Categories
	
	
	<%if admin?%>
		<span><%= link_to 'Add new category', new_admin_category_path %> | <%= link_to 'Add subcategory', subcategory_new_admin_categories_path %></span>
	<%end%>
	</h2>

	<div id = 'category-list'>
	  <%= render :partial => 'list' %>
	</div>
</div>
<div class="sidebar">
	<h2>Category List</h2>
	 <ul id='tree'><%= render :partial => 'category_list', :collection => @parent, :as => :category %></ul>
	
</div>
<div class="clear"></div>


