


<table class = "category-list" align = "left" ><br />
<tr>
<td> <ul id='tree'><%= render :partial => 'category_list', :collection => @parent, :as => :category %></ul></td>
</tr>

<%if admin?%>
<tr><%= link_to 'Add new category', new_admin_category_path %> | <%= link_to 'Add subcategory', subcategory_new_admin_categories_path %></tr>
<%end%>
</table>

<div id = 'category-list'>
  <%= render :partial => 'list' %>
</div>


<div class="clear"></div>


