<div class="main">
<div class="container">
	<div id = 'category-list'>
   		<%= render :partial => 'list' %>
	</div>
</div>

<div class="sidebar">
   <h2>Category list</h2>
	<ul id='tree'><%= render :partial => 'category_list', :collection => @parent, :as => :category %></ul>
   <div id = "banners">
     <% @banners.each do |banner| %>
        <div class = "banner">
           <%= link_to image_tag(banner.banner_image.url(:thumb)), banner.url, :target=>'_blank'%>
       </div>
     <% end %>
   </div>

</div>
</div>
<div class="clear"></div>
